<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block"%>
    <%= form.text_field :title, data: { e2e: 'blogtitle' }  %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body, data: { e2e: 'blogbody' } %>
  </div>

  <div>
    <%= form.hidden_field :user_id %>
  </div>

  <div>
  <%= form.label :tag_builder, style: "display: block" %>
  <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
    <div>
      <%= b.check_box data: { e2e: "blog_tag_checkbox_#{b.value}" } %>
      <%= b.label  %>
    </div>
  <% end %>
</div>

  <div>
    <%= form.submit "submit",data: { e2e: 'submitblog' } %>
  </div>
<% end %>
