<p style="color: green"><%= notice %></p>

<%= render @blog %>

<div>
  <% if @current_user.id == @blog.user_id %>
    <%= link_to "Edit this blog", edit_blog_path(@blog), data: { e2e: 'editblog' } %>
    <%= button_to "Destroy this blog", @blog, method: :delete, data: {turbo_method: :delete, e2e: 'distroyblog' } %>
  <% end %>
  <br/>
  <%= link_to "Back to blogs", blogs_path %>

</div>
